@import "bootstrap/bootstrap.scss";

@media (min-width: 768px) {
  section {
    padding-top: 0;
  }

  section {
    padding-bottom: 7.5rem;
  }
}

.br0,
.gj-datepicker-bootstrap [role="right-icon"] button,
.form-control {
  border-radius: 0 !important;
}

.card-img-top {
  max-height: 160px;
  min-height: 160px;
  object-fit: cover;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.div-addform {
  width: 80%;
  border: solid 1px black;
  padding: 2%;
}

svg {
    fill: #60B6B5;
}

.collapse {
  flex-grow: 0;
}

.lodging-img {
  height: 200px;
}

// SearchBar Position
.search-bar {
  position: absolute;
  top: 30%; 
  left: 5%;
}
.carousel {
  z-index: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  padding: 15px;
  z-index: 10;

    div {
        margin-bottom: 10px;
    }
}

.error {
  color: red;
}